#ignore the compiled python files
*.pyc

#ignore the cached files
*~

#ignore the compiled project files
target

#ignore the local coverage files
.coverage

#ignore the swp files
*.swp

#ignore mac finder tmp files
*.DS_Store

#ignore the IDE files
*.idea
